.movies-list {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movies-list header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.movies-list input {
  font-size: 14px;
  width: calc(100% - 200px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.movies-list nav {
  display: grid;
  grid-gap: 15px;
}

.movies-list article {
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: box-shadow 0.3s;
}

.movies-list div:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-btn {
  padding: 10px 20px;
  background-color: #4db7d3;
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #4db7d3;
}

.pagination-btn {
  padding: 5px 10px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-btn:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.search-form, .filter-selects {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}

.page-limit-select, .filter-selects select {
  margin-right: 10px;
  margin-left: 10px;
  padding: 9px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.filter-selects select{
  margin: 0;
  width: 30%;
}
